<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325857877129-iaamgp7ea51o84g7tlnq6pt3mge6mo5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325857877129-iaamgp7ea51o84g7tlnq6pt3mge6mo5q</string>
	<key>API_KEY</key>
	<string>AIzaSyDvU6uU69u-bBytquZFYRXGdBehZ7ufU00</string>
	<key>GCM_SENDER_ID</key>
	<string>325857877129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khacchung.demo.MessageOK</string>
	<key>PROJECT_ID</key>
	<string>luu-data</string>
	<key>STORAGE_BUCKET</key>
	<string>luu-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325857877129:ios:e815fc12ca27755fd93a58</string>
	<key>DATABASE_URL</key>
	<string>https://luu-data.firebaseio.com</string>
</dict>
</plist>