<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969928741765-1e822tdl4cr6dgrhlna18vs55msi08j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969928741765-1e822tdl4cr6dgrhlna18vs55msi08j0</string>
	<key>API_KEY</key>
	<string>AIzaSyBv5Don4zJc8tQ2O3nX8J-rK-JqbT_apvM</string>
	<key>GCM_SENDER_ID</key>
	<string>969928741765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khacchung.demo.MessageOK</string>
	<key>PROJECT_ID</key>
	<string>ioshk-d32a0</string>
	<key>STORAGE_BUCKET</key>
	<string>ioshk-d32a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969928741765:ios:ff9d5251fe3c63ba232aec</string>
	<key>DATABASE_URL</key>
	<string>https://ioshk-d32a0.firebaseio.com</string>
</dict>
</plist>
